# git
git/gitconfig

# aliases
zsh/aliases

# Adguard Folder
adguardHome/
confdir/
workdir/

# trash
trash/

# ssh config
ssh/

# karabiner
karabiner/assets/
karabiner/automatic_backups/
karabiner/karabiner

# hammerspoon
hammerspoon/Spoons/
hammerspoon/*json
hammerspoon/secret.lua
hammerspoon/hammerspoon
!hammerspoon/Spoons/SpoonInstall.spoon

# iterm2
iterm2/
!iterm2/iterm2.txt

# tmux-recurrect
tmux/recurrect

# tmuxinator
tmux/tmuxinator

# me
draft.sh

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
