# git
git/gitconfig

# aliases
zsh/aliases

# Adguard Folder
adguardHome/

# trash
trash/

# ssh config
ssh/

# karabiner
karabiner/assets/
karabiner/automatic_backups/

# hammerspoon
hammerspoon/Spoons/
hammerspoon/*json
hammerspoon/secret.lua
!hammerspoon/Spoons/SpoonInstall.spoon

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
